@charset "UTF-8";

/*=======================================PALETA/FONTE=============================================*/

/* verde: #49a09d , lilás: #5f2c82 */

@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');
/* "Lalezar", system-ui; */
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap'); 
/* "Jersey 10", sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');
/*"Teko", sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/*"Roboto", sans-serif;*/


/*=============================================VARIAVEIS==============================================*/
:root{
    --verde: #49a09d;
    --verde-hover: #408b89;
    --lilás: #5f2c82;

    --fonte-login: "Teko", system-ui;
    --fonte-paragrafo: "Roboto";
    --fonte-botao: "Lalezar";
}


/*=============================================GERAIS==============================================*/

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    width: 100vw;
    height: 100vh;
}

main > section#login {/*Main é pai de section#login*/
    position: absolute;/*SECTION (absolute) está dentro de MAIN (relative) -> para ajustar a posição*/ 
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    overflow: hidden; /* Para esconder tudo que tiver fora da borda*/ 

    background-color: white;
    width: 280px;
    height: 520px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.411);

    transition: width .4s, height .4s;
    transition-timing-function: ease;
}

section#login > div#imagem{/*Section#login é pai de div#imagem , div#formulario*/
    display: block;
    background: #5f2c82 url('../jpeg/login.jpg') center center no-repeat;
    background-size: cover;
    height: 200px;
}

section#login > div#formulario{
    display: block;
    padding: 10px;
}

div#formulario > h1{/*Div#formulario é pai de h1, p, form*/
    text-align: center;
    text-transform: uppercase;
    font-family: var(--fonte-login);
    font-weight: normal;
    font-size: 1.5em;
    color: var(--lilás);
}

div#formulario > p{
    font-family: var(--fonte-paragrafo);
    text-align: justify;
    padding: 7px;
}

div#formulario > form{
    margin: 2px;
}

form > div.campo{/*Form é pai de div.campo, input[type=submit], a.botao */
    display: block;
    width: 100%;
    height: 40px;
    background-color: var(--lilás);
    margin: 5px 0px;
    border-radius: 10px;
    border: 2px solid var(--lilás);
}

div.campo > label{/* div.campo é pai de span, label, input[type=email], input[type=password] */
    display: none;
}

div.campo > span{
    width: 40px;
    font-size: 2em;
    color: white;
    padding: 2px 5px;
}

div.campo > input{
    background-color: white;
    font-size: 1em;
    width: calc(100% - 44.4px);
    transform: translateY(-10.1px);
    height: 100%;
    border: 0px;
    border-radius: 10px;
    padding: 4px;

}

form > input[type=submit]{
    display: block;
    margin: auto;
    margin-top: 8px;
    width: 80%;
    height: 30px;

    background-color: var(--verde);
    border: none;
    border-radius: 5px;
    color: white;
    font-family: var(--fonte-botao);
    font-size: 1.1em;
    font-weight: normal;
    cursor: pointer;
}

form > input[type=submit]:hover{
    background-color: var(--verde-hover);  
}

form > a.botao{
    width: 80%;
    height: 30px;
    margin: auto;
    display: block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;

    color: black;
}

form > a.botao:hover{
    color: var(--lilás);
    font-weight: bold;
}

a.botao > span{/* a.botao é pai de span */
    font-size: 1.1em;
    
}